;========================================
; TRANSPORT - How Asterisk listens
;========================================
[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060
; Keep Asterisk listening on every local interface so Wi-Fi/Ethernet changes do not break it.

;========================================
; EXTENSION 1001 - MicroSIP on PC
;========================================

[1001]
type=aor
max_contacts=1
remove_existing=yes

[1001]
type=auth
auth_type=userpass
username=1001
password=pass1001

[1001]
type=endpoint
aors=1001
auth=1001
context=default
disallow=all
allow=ulaw
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
rtcp_mux=yes

;========================================
; EXTENSION 1002 - Zoiper on Phone
;========================================
[1002]
type=aor
max_contacts=1
remove_existing=yes

[1002]
type=auth
auth_type=userpass
username=1002
password=pass1002

[1002]
type=endpoint
aors=1002
auth=1002
context=default
disallow=all
allow=ulaw
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
rtcp_mux=yes
